.item
{
	font-weight:bolder;
	height:50px;
	width:50px;
	background-color:green;
	margin:20px;
}
#2
{
	background-color:red;
}
.holder
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}